name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Create test file config
      run: |
        cp test.sample.yaml test.yaml
        sed -i "s/\${GOOGLE_ACCESS_TOKEN}/${{ secrets.GOOGLE_ACCESS_TOKEN }}/g" test.yaml
        sed -i "s/\${GOOGLE_CLEINT_SECRET}/${{ secrets.GOOGLE_CLEINT_SECRET }}/g" test.yaml
        sed -i "s/\${GOOGLE_CLIENT_ID}/${{ secrets.GOOGLE_CLIENT_ID }}/g" test.yaml
    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
